# Build folders and IDEs files
target/
.project
.classpath
.git
.gitignore

# OS Logs
*.log
*.tmp

# Project properties
*.properties
*.yml

# H2 cache
*.db
*.mv.db
*.trace.db

# Docker artifacts
Dockerfile~
docker-compose.override.yml